@import url('reset.css'); /* Reset default Browser CSS */

/* =Structure */
body {
	background: url('/img/bg-diamond.png');
       background-repeat:repeat;
       background-size:cover;
	color: #bbb;
	font-family: sans-serif;
	font-size: 15px;
	text-shadow: 1px 1px 1px #222;
}
a {
	color: #fff;
	text-decoration: none;
}
#wrapper {
	width: 498px;
	border: 1px solid #2b2d2f;
	margin: 50px auto;
	-webkit-box-shadow: 0 0 30px #333;
	-moz-box-shadow: 0 0 30px #333;
	box-shadow: 0 0 30px #333;
}
#wrapper:last-child {
	border-bottom: none;
}

/* =General */
.section {
	background: url('/img/bg-shadow.png') repeat-x #3c3e41;
	border-top: 1px solid #484a4e;
	border-bottom: 1px solid #2b2d2f;
	padding: 20px;
}
.red {
	color: #b21;
	font-weight: bold;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	width: 100%;
	clear: both;
}
small {
	font-size: 12px;
	margin-top: 5px;
}

/* =Tabs */
.tabs {
	background: url('/img/bg-tabs.png');
	height: 40px;
}
.tabs.second {
	background: url('/img/bg-tabs-second.png');
}
.tabs.ac {
	background: url('/img/bg-tabs-13.png');
}
.tabs.bc {
	background: url('/img/bg-tabs-23.png');
}
.tabs.cc {
	background: url('/img/bg-tabs-33.png');
}
.tab {
	float: left;
	margin-right: 1px;
}
.tab a {
	color: #888;
	padding: 12px;
	display: block;
}
.tab a:hover {
	color: #eee;
}
.tab.active a {
	color: #eee;
}
.tab.files a {
	width: 152px;
}
.tab.info a {
	width: 257px;
}
.tab.upload a {
	width: 72px;
}
.tab.manage a {
	width: 150px;
}
.tab.edit a {
	width: 162px;
}
.tab.close a {
	width: 14px;
	height: 16px;
}
.tabs img.icon {
	margin: 0 6px -2px 0;
}

/* =List */
ul {
	list-style: none;
}
ul li {
	background: url('/img/list.png') no-repeat 0 5px;
	padding-left: 15px;
	margin: 8px 0;
}
ul small {
	font-size: 12px;
	color: #888;
}

/* =Form */
input[type="text"],
input[type="password"] {
	background: url('/img/bg-input.png');
	border: none;
	width: 183px;
	height: 28px;
	padding: 3px 10px;
	color: #bbb;
	text-shadow: 1px 1px 1px #222;
	font-size: 15px;
	margin: 5px 5px 5px 0;
}
input[type="text"].double,
input[type="password"].double {
	background: url('/img/bg-input-double.png');
	width: 396px;
}
input[type="button"],
input[type="submit"] {
	background: url('/img/bg-button.png');
	border: 0;
	color: #ddd;
	font-weight: bold;
	font-size: 14px;
	width: 102px;
	height: 40px;
	cursor: pointer;
}
input[type="button"]:hover,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="submit"]:active {
	background-position: 0 40px;
}
input[type="file"] {
	color: #eee;
	margin-bottom: 10px;
}
textarea {
	background: url('/img/bg-textarea.png');
	border: none;
	width: 396px;
	height: 130px;
	padding: 10px 10px;
	color: #bbb;
	text-shadow: 1px 1px 1px #222;
	font-size: 15px;
	margin: 5px 5px 5px 0;
	resize: none;
}
.checkbox {
	cursor: pointer;
}
.checkbox span {
	background: url('/img/checkbox.png');
	width: 20px;
	height: 19px;
	display: inline-block;
	vertical-align: text-top;
}
.checkbox.checked span {
	background-position: 0 19px;
}

/* =Drag'nDrop Upload */
#upload-container {
	position: relative;
}
.upload-box {
	background: none;
	padding: 0;
	margin: 2%;
	width: 28%;
	border: 3px #bbb dashed;
	float: left;
	border-radius: 10px;
	position: relative;
	font-size: 17px;
}
.upload-box small {
	width: 100%;
	text-align: center;
	display: block;
	margin: 5px 0 15px 0;
}
#old-browser {
	text-align: right;
	font-style: italic;
	font-size: 12px;
	width: 100%;
	display: block;
	margin-top: 20px;
}
.qq-uploader {
	width: 100%;
	height: 100%;
}
.qq-upload-button {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	text-align:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.qq-upload-button-hover {
	background: #4c4e51;
}
.qq-upload-drop-area {
	position:absolute; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height: 70px;
	z-index:5;
	text-align:center;
}
.qq-upload-drop-area span {
	display:block;
	position:absolute;
	top: 50%;
	width:100%;
	margin-top:-8px;
	font-size:16px;
}
.qq-upload-list {
	margin-top: 10px;
	list-style:none;
	z-index: 3;
	text-align: center;
}
.qq-upload-list li {
	margin:0;
	padding-left: 4px;
	line-height:15px;
	font-size:12px;
	background: none;
}
.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
    margin-right: 7px;
}
.qq-upload-spinner {
	display:inline-block;
	background: url("/img/loading.gif");
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}
.qq-upload-size,
.qq-upload-cancel {
	font-size:11px;
}
.qq-upload-failed-text {
	display:none;
}
.qq-upload-fail .qq-upload-failed-text {
	display:inline;
}
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #register_password_errorloc
{
    clear:both;
}
#fg_membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#fg_membersite fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}